:root {
  font-family: 'Archivo Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(16px, calc(16px + (36 - 20) * (100vw - 768px)/(1920 - 768)), 40px);

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-primary: #026c64;
  --color-secondary: #d6c91d;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

a {
  color: var(--color-secondary);
}
