:root {
  font-family: 'Archivo Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-primary: #026c64;
  --color-secondary: #d6c91d;
}

body {
  background-image: url('./hausfoto_web_large.jpg');
  background-size: cover;
}

#app {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  min-height: 100vh;

  display: grid;
  place-items: center;
}

a {
  color: var(--color-secondary);
}
